<div>
<h1>Welcome Back!</h1>
<%=form_for :user do |f|%>
    <%=f.label :email %>
    <%=f.text_field :email %>
    <%=f.label :Password%>
    <%=f.password_field :password%>
    <%=f.submit 'Login'%> 
<%end%>
</div>
<br>
<div>
<%=button_to 'Login with Facebook', '/auth/facebook'%>
</div>
<style>
.flash-error {
    color: red;
}
</style>